<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/styleform.css}">
</head>
<body>
<div>
    <h1 th:text="${title}"></h1>
</div>
<form th:action="@{/form}" method="post" th:object="${employee}">
    <!--    campo nif-->
    <div>
        <label for="nif">Nif: </label>
        <div>
            <input type="text" name="nif" id="nif" placeholder="1234567L" th:field="*{nif}">
        </div>
        <div th:if="${#fields.hasErrors('nif')}" th:errors="*{nif}"></div>
    </div>

    <!--    campo nombre-->
    <div>
        <label for="firstName">Nombres: </label>
        <div>
            <input type="text" name="firstName" id="firstName" placeholder="Jhon Doe" th:field="*{firstName}">
        </div>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>

    <!--    campo apellidos-->
    <div>
        <label for="lastName">Apellidos: </label>
        <div>
            <input type="text" name="lastName" id="lastName" placeholder="Lopez Carrasco"
                   th:value="${employee.lastName}">
        </div>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>

    <!--    campo email-->
    <div>
        <label for="email">Correo Electronico: </label>
        <div>
            <input type="text" name="email" id="email" placeholder="jhon33@gmail.com" th:value="${employee.email}"
                   th:field="*{email}">
        </div>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <!--    campo direccion-->
    <div>
        <label for="direction">Dirección De Casa: </label>
        <div>
            <input type="text" name="direction" id="direction" placeholder="Av. 1234 Calle 233"
                   th:value="${employee.direction}" th:field="*{direction}">
        </div>
        <div th:if="${#fields.hasErrors('direction')}" th:errors="*{direction}"></div>
    </div>

    <!--    campo numero telefonico-->
    <div>
        <label for="phone">Número Telefonico: </label>
        <div>
            <input type="text" name="phone" id="phone" placeholder="963258741"
                   th:value="${employee.phone}" th:field="*{phone}">
        </div>
        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    </div>

    <div>
        <div>
            <input type="submit" value="Enviar">
        </div>
    </div>
</form>
</body>
</html>